# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
**/.mvn
mvnw
mvnw.cmd
target
**/target/
.idea_modules/
.DS_Store
out/
*.log
/.settings/
.cache
conf/**
**/.settings/
**/logs/
**/.classpath
**/.project
